/*
BLOG STYLES
*/

section.blog{

	margin-top: 4em;

	.post{
		margin: 3em 0;
		border-bottom: 1px solid red;

		.large{
			margin: 0;
		}
	}

	ul{
		list-style: none;
		padding-left: 0;
	}

	.title{
		float: left;

		@media screen and ( max-width: 960px){
			float: none;
		}

		a{
			border-bottom: none;
		}
	}

	.date{
		float: right;
		color: $midGrey;
		//margin: 1em 0;

		@media screen and ( max-width: 960px){
			float: none;
		}
	}

	.post-body{
		margin-bottom: 3em;

		a{
			border-bottom: none;
		}
	}
}

.entry{
	margin: 7em 0;

	.large{
			margin: 0;
		}

	ul{
		list-style: none;
		padding-left: 0;
	}

	.post-body{
		a{
			border-bottom: none;
		}

	}
}

.side-bar{
	margin-top: 3em;

	h3{
		margin: 1em 0;
	}

	@media screen and ( max-width: 960px){
		display: none;
	}
}

.side-bar-more{
	margin-top: 0;
}