// HEADER STYLES

.header {
	background: $black;
	color: white;
	//text-align: center;
	padding-top: 4.5em;

	.cat{
		background: url('../images/icon_main.png') center center no-repeat;
		margin-bottom: 2.5em;
		background-size: 55px;
		height: 55px;
		width: 55px;
	}

	.moving{
		background: url('../images/animation.gif') center center no-repeat;
		background-size: 55px;
		display: none;
	}

	.animation:hover{
		.cat{
			display: none;
		}

		.moving{
			display: block;
		}
	}

	.name{
		font-size: 1.8em;
		font-family: $serif;
		margin-bottom: 1em;
		//font-weight: 800;
	}

	p{
		&.large{
			margin: 0;
		}
	}

	.large{
		padding-bottom: 2em;
		font-weight: 300;
	}

}
