/*
	Variables as fuck!
*/


// Fonts

$serif: "calluna", "Georgia", "serif";
$sans: "proxima-nova", "Helvetica", "sans-serif";

$black: #212121;
$grey: #F0F0F0;
$midGrey: #808080;
$darkGrey: #2d2c2a;
$pink: #ED1E79;
//$pink: #23AE49;



// Navigation
$activeNav: 5px solid white;


$page_margin: 7em 0;